@font-face {
  font-family: "Futura";
  src: url(/assets/futura_sito/futura_medium_bt.ttf);
}
@font-face {
  font-family: "Futura Light";
  src: url(/assets/futura_sito/Futura\ Book\ font.ttf);
}
@font-face {
  font-family: "Futura Bold";
  src: url(/assets/futura_sito/Futura\ Heavy\ font.ttf);
}
:root {
  --colore-principale: #ff156c;
  --colore-secondario: #ffffff;
  --grey: #d9d9d9;
  --black: #000000;
  --text-body: 0.9rem;
  --text-menu: 1rem;
  --text-subtitle: 2.25rem;
  --text-body-pc: 2rem;
  --text-menu-pc: 1rem;
  --text-subtitle-pc: 2.7rem;
}
html,
body {
  margin: 0;
  padding: 0;
  font-family: Futura, Helvetica;
  /* background-color: var(--black); */
  background-color: var(--black);
  color: var(--colore-secondario);
}
header {
  background-color: var(--black);
  position: fixed;
  display: flex;
  padding: 40px 21px;
  justify-content: space-between;
  width: 100%;
  top: 0;
  align-items: baseline;
  font-size: var(--text-menu);
  align-items: center;
  z-index: 2;
}
header p,
footer p {
  font-family: Futura-Bold;
}
nav {
  display: none;
  background-color: var(--black);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  gap: 1rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
header a {
  text-decoration: none;
  color: white;
  font-family: Futura;
}
a:hover {
  color: var(--colore-principale);
}
p {
  font-family: "Futura Light", Helvetica;
  font-size: var(--text-body);
}
.fa-brands {
  font-size: 30px;
}
.margin {
  margin-right: 30px;
}
.footer-icon {
  color: var(--black);
  text-align: center;
}
#hamburger {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
}
#hamburger div {
  width: 30px;
  height: 3px;
  margin: 4px 0;
  background-color: white;
  position: relative;
  transition: transform opacity top 0.5s;
  top: 0;
  opacity: 1;
}
#hamburger.open div:nth-child(1) {
  transform: rotate(deg70);
  top: 7px;
}
#hamburger.open div:nth-child(2) {
  opacity: 0;
}
#hamburger.open div:nth-child(3) {
  transform: rotate(-70deg);
  top: -7px;
}
.show {
  display: flex;
}
h1 {
  font-size: var(--text-subtitle);
}
main {
  margin: 141px 21px;
}
.corpo {
  max-width: 250px;
}
.corpo2 {
  max-width: 150px;
}
.align-end {
  text-align: end;
  /* margin-left: 21px; */
  position: absolute;
  right: 21px;
}
.margin-end {
  margin: 20px 0;
}
.display_testo_uno {
  display: none;
}
.foto-insieme {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.foto {
  object-fit: cover;
  max-width: 80%;
  margin: 10px;
}
.carousel2 {
  margin: 0 auto;
  position: relative;
  margin: 0 auto;
  width: 90%;
  height: 25rem;
  border-radius: 1rem;
  overflow-x: auto;
  overflow-y: hidden;
  display: flex;
  scroll-snap-type: x mandatory;
  margin-bottom: 100px;
}
.display-uno {
  display: flex;
}
.display {
  display: none;
}
.display-image {
  display: none;
}
.carousel2 > img {
  border-radius: 1rem;
  position: sticky;
  left: 0;
  flex: 0 0 100%;
  object-fit: cover;
  height: 100%;
  scroll-snap-align: start;
}
/* .phones img {
    width: 40%;
  } */
.display-phones {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 10%;
  /* margin: 0 50px; */
}
.phone1 {
  margin-right: 10px;
}
.phones img {
  width: 200px;
  margin-top: 20px;
  /* margin: 10px 30px; */
}
.display_testo_phone {
  display: none;
}
/* .footer_services h1 {
  margin-top: 100px;
} */
.footer_services {
  margin: 30px;
  gap: 10px;
  text-align: end;
}
.footer_services div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
}
.footer-section {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  min-width: 157px;
  width: 80%;
  height: 42px;
  border: 1px solid var(--grey);
  border-radius: 21px;
  font-size: var(--text-menu);
  text-align: center;
}
footer {
  background-color: var(--colore-secondario);
  width: 100%;
  height: 130px;
  text-align: center;
  padding-top: 65px;
}
footer p {
  text-align: center;
  color: var(--black);
  padding-bottom: 10px;
  margin: 0;
}

@media (min-width: 800px) {
  header {
    font-size: var(--text-menu-pc);
  }
  header p {
    order: -1;
  }
  nav {
    flex-direction: row;
    justify-content: start;
    display: flex;
    height: auto;
    width: auto;
    position: static;
    font-size: var(--text-menu-pc);
  }
  #hamburger {
    display: none;
  }
  main h1 {
    margin: 0 10%;
  }
  main p {
    margin: 0 10%;
  }
  h1 {
    font-size: var(--text-subtitle-pc);
  }
  .corpo {
    max-width: 800px;
  }
  .carousel2 {
    width: 70%;
    height: 584px;
    margin-top: 21px;
  }
  .display-uno {
    display: none;
  }
  .display {
    display: flex;
  }
  .display_testo_uno {
    display: inline;
  }
  .display_testo_due {
    display: none;
  }
  .display_testo_phone {
    display: inline;
  }
  .display-phones {
    justify-content: center;
    gap: 50%;
    margin: 10px;
  }
  .phones img {
    width: 300px;
    margin: 0 10%;
  }
  /* .footer_services h1 {
    margin-top: 800px;
  } */
  .footer-section {
    font-size: var(--text-menu-pc);
  }
}
